html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  line-height: 2em;
  background: #445966;
  font-family: 'Oxygen', sans-serif;
}
h1 {
  margin: 0 0 6px 0;
  font-weight: 300;
  border-bottom: 1px solid #eeeeee;
}
span.subtitle {
  font-size: 1.5em;
  font-weight: 300;
}
div {
  /*border: 1px solid black;*/
}
div .div-inline {
  display: table-cell;
  vertical-align: top;
  padding: 16px;
}
select,
input,
button,
a.button {
  font-size: 1em;
  height: 1.8em;
  padding: 4px;
  margin: 5px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eee;
  color: #eeeeee;
  background-color: #445966;
}
select.select-sm {
  min-width: 80px;
}
select.select-lg {
  min-width: 180px;
}
select option {
  padding-right: 20px;
}
a.button {
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}
button:hover,
input[type=submit]:hover,
a.button:hover {
  background-color: #bf5;
  border: 1px solid #333;
  color: #333333;
}
table tr td {
  padding-right: 6px;
}
.container {
  position: relative;
  width: 90%;
  background: #eeeeee;
  margin: 0 auto;
  top: 0px;
  border-top: 0;
}
.container-sm {
  width: 76%;
}
.card {
  border: 1px solid #333333;
  display: inline-block;
  width: 30%;
}
.inline-block {
  display: inline-block;
}
.title-header {
  width: 100%;
  display: inline-block;
}
.title-header > .main-text {
  display: inline-block;
  padding-top: 12px;
  padding-left: 20px;
}
.title-header > .main-text > .scale {
  font-size: 2em;
}
.title-header > .main-text > .notes {
  font-size: 1.5em;
}
.header {
  color: #eee;
  background-color: #333333;
}
.container-dark {
  border-top: 1px solid #333333;
  color: #eeeeee;
  background-color: #445966;
}
.footer {
  width: 100%;
  min-height: 400px;
  margin-top: 40px;
  border-top: 4px solid #eee;
  background-color: #333333;
}
.footer-content {
  margin: 0 5%;
  padding: 24px 0;
  color: #eeeeee;
}
svg.scales {
  position: relative;
  width: 100%;
  min-height: 400px;
}
svg.chords {
  position: relative;
  width: 600px;
  height: 500px;
  background-color: #eeeeee;
}
.learn-more {
  float: right;
}
.instrument-menu {
  display: inline-block;
  height: 90px;
  padding: 0 15px 0 30px;
  float: right;
  background-color: #555555;
  box-shadow: 2px 2px 4px #333333;
  -moz-box-shadow: 2px 2px 4px #333333;
  -webkit-box-shadow: 2px 2px 4px #333333;
}
.instrument-menu > ul {
  float: right;
  height: 90px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #555555;
}
.instrument-menu li {
  display: inline;
  height: 90px;
}
li.instrument-icon img {
  width: 90px;
  height: 90px;
}
li.instrument-icon.active {
  background-color: #777777;
  display: inline-block;
}
.brand {
  display: inline-block;
  margin: 8px;
  font-size: 1.6em;
}
.brand a {
  text-decoration: none;
  color: #eeeeee;
}
/*#scale-name, #instrument-name {
    font-weight: @weight-sm;
    font-size: 2.1em;
    border-bottom: 1px solid @grey-light;
    width: 100%
}*/
/*#scale-pitches, #tuning-notes {
    font-size: 1.5em;
}*/
.header-menu {
  float: right;
  margin-right: 60px;
  display: inline-block;
}
.header-menu a {
  color: #eeeeee;
  padding: 8px 16px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
}
.header-menu a.active {
  background-color: #555555;
  color: #eeeeee;
}
.header-menu a:hover {
  background-color: #555;
  color: #eeeeee;
}
.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modal-show {
  opacity: 1;
  pointer-events: auto;
}
.modal-dialog > .modal-sm {
  width: 400px;
  position: relative;
  margin: 10% auto;
  background: #eee;
  padding: 20px;
}
.modal-dialog > .modal-lg {
  position: fixed;
  margin: 0 auto;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background: #eee;
  padding: 20px;
  overflow-y: auto;
}
.modal-close {
  background: #333333;
  color: #FFFFFF;
  padding: 0 7px;
  text-decoration: none;
  font-weight: bold;
}
.modal-close:hover {
  background-color: #bbff55;
  color: #333333;
}
.modal-sm > .modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
}
.modal-lg > .modal-close {
  position: fixed;
  margin-top: 20px;
  margin-right: 30px;
  right: 10%;
  top: 10%;
}
.tooltip {
  position: absolute;
  content: attr(tooltip);
  opacity: 0;
  padding: 6px 12px;
  bottom: 230px;
  max-width: 80%;
  line-height: 1.3em;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #333333;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #333333;
  -moz-box-shadow: 2px 2px 4px #333333;
  -webkit-box-shadow: 2px 2px 4px #333333;
}
.tooltip h3 {
  line-height: 0;
}
.tooltip-show {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */