<!DOCTYPE html>
<html ng-app="musicianist">
    <head>
        <title>Scales - Musicianist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="">
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body ng-controller="scalesCtrl">   
        <div class="header">
            <div class="brand"><a href="../">Musicianist</a> </div>
            <div class="header-menu">
                <a href="" class="active">Scales</a>
                <a href="../chords/">Chords</a>
                <a href="../circle-of-fifths/">Circle of Fifths</a>
            </div>
        </div>

        <!-- Information about the page -->
        <div class="modal-dialog" ng-class="{'modal-show': modal == 'instructions'}">
            <div class="modal-lg">
                <a title="Close" class="modal-close" ng-click="modal = null">X</a>
                <h1>Musicianist Scales</h1>
                <p>
                    We make it easy for you to learn new scales, and practice your scale patterns. Select your instrument by clicking on
                    the instrument icon at the top of the screen. Switch between Guitar, Bass Guitar or Piano as often as you like.
                </p>
            </div>
        </div>
        <!-- -->

        <div class="container">
            <div class="title-header">
                <div class="main-text">
                    <span class="scale">{{JSONData.tonics[selectedTonic] + ' ' + JSONData.scales[selectedScale].name}}</span><br/>
                    <span class="notes">{{scaleNotes}}</span>
                </div>
                <div class="instrument-menu">
                    <ul>
                        <li class="instrument-icon" ng-click="setInstrument('Guitar')" ng-class="{'active': instrument == 'Guitar'}">
                            <img src="../svg/menu/main_guitar_o.svg" viewBox="0 0 100 100" alt="Guitar Scales"/>
                        </li>
                        <li class="instrument-icon" ng-click="setInstrument('Bass Guitar')" ng-class="{'active': instrument == 'Bass Guitar'}">
                            <img src="../svg/menu/main_bass_o.svg" viewBox="0 0 100 100" alt="Bass Guitar Scales"/>
                        </li>
                        <li class="instrument-icon" ng-click="setInstrument('Piano')" ng-class="{'active': instrument == 'Piano'}">
                            <img src="../svg/menu/main_piano_o.svg" viewBox="0 0 100 100" alt="Piano Scales"/>
                        </li>
                    </ul>
                </div>
                <div class="surface-container">
                    <div><svg zoom-pan class="scales select-disable" id="svg-surface" preserveAspectRatio="xMidYMin meet"></svg></div>
                </div>
                <div class="zoom-pan-control">
                    <a href="" ng-click="svgSurface.resetZoomPan()">
                        <img src="../svg/icon/iconmonstr-fullscreen-12.svg" viewBox="0 0 25 25" alt="Reset"/>
                    </a>
                    <a href="" ng-click="svgSurface.setActiveControl('zoom')" ng-class="{'active': svgSurface.activeControl == 'zoom'}">
                        <img src="../svg/icon/iconmonstr-magnifier-5.svg" viewBox="0 0 25 25" alt="Zoom"/>
                    </a>
                    <a href="" ng-click="svgSurface.setActiveControl('pan')" ng-class="{'active': svgSurface.activeControl == 'pan'}">
                        <img src="../svg/icon/iconmonstr-cursor-23.svg" viewBox="0 0 25 25" alt="Pan"/>
                    </a>
                </div>
            </div>
            
            <div class="container-options">            
                <div class="div-inline">                    
                    <div class="tooltip" ng-class="{'tooltip-show': tooltip == 'scale'}" ng-include="scale.infoUrl">                        
                    </div>

                    <div ng-mouseover="tooltip = 'scale'" ng-mouseout="tooltip = null">
                        <h1>{{JSONData.scales[selectedScale].name}} Scale</h1>
                        <span class="subtitle" ng-repeat="pitch in JSONData.scales[selectedScale].steps">{{pitch + ' '}}</span>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <label for="tonic">Tonic</label>
                            </td>
                            <td>
                                <select name="tonic" class="select-sm" ng-model="selectedTonic" ng-change="drawing.drawScale()">
                                    <option value="{{key}}" ng-repeat="(key, val) in JSONData.tonics">{{val}}</option>  
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="scale">Scale</label>
                            </td>
                            <td>
                                <select name="scale" class="select-lg" ng-model="selectedScale" ng-change="drawing.drawScale()">     
                                    <option value="{{key}}" ng-repeat="(key, val) in JSONData.scales">{{val.name}}</option>                           
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

               <!-- <div class="div-inline" ng-hide="instrument === 'Piano'">
                    <div>
                        <h1>{{instrument}}</h1>
                        <span class="subtitle" ng-repeat="n in JSONData.tunings[instrument][selectedStrings][selectedTuning].notes track by $index">
                            {{util.halfStepToNote(n)}}</span>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <label for="input-num-strings">Strings</label>
                            </td>
                            <td>
                                <select name="input-num-strings" class="select-sm" ng-model="selectedStrings" ng-change="drawing.reload()">
                                    <option class="option-thin" value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument]">{{key}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="tuning">Tuning</label>
                            </td>
                            <td>
                                <select name="tuning" class="select-lg" ng-model="selectedTuning" ng-change="drawing.drawScale()">
                                    <option value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument][selectedStrings]">{{val.name}}</option>                              
                                </select>
                                <a href="" class="button" ng-click="modal = 'edit-tuning'">Edit Tuning</a>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label for="tuning">Handedness</label>
                            </td>
                            <td>
                                <select name="handedness" class="select-lg" ng-model="handedness" ng-change="drawing.reload()">
                                    <option value="Right">Right-Handed</option>
                                    <option value="Left">Left-Handed</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>-->

                <div class="settings-panel">
                    <div class="header">
                        <span><img src="../img/guitar-128-2.png" alt="Scale"/></span>
                        Instrument
                    </div>
                    <div class="content">
                        <table>
                        <tr>
                            <td>
                                <label for="input-num-strings">Strings</label>
                            </td>
                            <td>
                                <select name="input-num-strings" class="select-sm" ng-model="selectedStrings" ng-change="drawing.reload()">
                                    <option class="option-thin" value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument]">{{key}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="tuning">Tuning</label>
                            </td>
                            <td>
                                <select name="tuning" class="select-lg" ng-model="selectedTuning" ng-change="drawing.drawScale()">
                                    <option value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument][selectedStrings]">{{val.name}}</option>                              
                                </select>
                                    
                                <img class="button" src="../svg/icon/iconmonstr-gear-6.png" alt="Edit" ng-click="modal = 'edit-tuning'"/>
                                
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label for="tuning">Handedness</label>
                            </td>
                            <td>
                                <select name="handedness" class="select-lg" ng-model="handedness" ng-change="drawing.reload()">
                                    <option value="Right">Right-Handed</option>
                                    <option value="Left">Left-Handed</option>
                                </select>
                            </td>
                        </tr>
                    </table>                    
                    </div>
                </div>

                <div class="settings-panel">
                    <div class="header">
                        <span><img src="../img/musicfile-128.png" alt="Scale"/></span>
                        <span><img src="../img/free/settings.png" alt="Scale"/></span>
                        Scale
                    </div>
                    <div class="content">
                        
                    </div>
                </div>

                <div class="learn-more">
                    <a href="" ng-click="action()" class="button">Dont Push</a><br/>
                    <a href="" ng-click="modal = 'instructions'" class="button">Instructions</a>
                </div>
            </div><!-- Container -->
        </div>

        <div class="footer">
            <div class="footer-content">
                <a href="javascript:(function(){document.body.innerHTML+=%22<style>*{background:%20#000%20!important;color:%20#0f0%20!important;outline:%20solid%20#f00%201px%20!important;}</style>%22;})();">ghost</a>
                <br/>
                asdasd
            </div>
        </div>
            
        <div class="modal-dialog" ng-class="{'modal-show': modal == 'edit-tuning'}">
            <div class="modal-sm">
                <a href="" title="Close" class="modal-close" ng-click="modal = null">X</a>
                <h2>Edit Tuning</h2>                    

                <button>Save</button>
                <button>Cancel</button>
            </div>
        </div>

        <script src="../lib/snap/snap.svg.js"></script>
        <script src="../js/core.js"></script>
        <script src="../js/Scales.js"></script>

        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/angular/angular-sanitize.js"></script>
        <script src="../lib/angular/angular-cookies.js"></script>
        <script src="../js/controllers.js"></script>
    </body>
</html>
