<div class="title-header">
    <div class="main-text">
        <span class="scale">{{Scales.JSONData.tonics[Scales.selection.tonic] + ' ' + Scales.JSONData.scales[Scales.selection.scale].name}}</span><br/>
        <span class="notes">{{Scales.scaleNotes}}</span>
    </div>

    <div class="surface-container">
        <div><svg zoom-pan
                class="scales select-disable" 
                id="svg-surface" 
                preserveAspectRatio="xMidYMid meet"></svg></div>
    </div>

    <div class="zoom-pan-control">
        <i class="fa fa-arrows-alt" ng-click="Scales.svgSurface.resetZoomPan()"></i>
        <i class="fa fa-search" ng-click="Scales.svgSurface.setActiveControl('zoom')" ng-class="{'active': Scales.svgSurface.activeControl == 'zoom'}"></i>
        <i class="fa fa-hand-paper-o" ng-click="Scales.svgSurface.setActiveControl('pan')" ng-class="{'active': Scales.svgSurface.activeControl == 'pan'}"></i>
    </div>
</div>

<div class="container-options">    
    <div class="settings-panel settings-panel-instrument div-inline">
        <div class="header">
            <span>
                <img src="/assets/img/guitar-128-2.png" alt="Scale"/>
            </span>
            Instrument
            <i class="edit fa fa-gear" ng-click="Scales.modal = 'instrument'"></i>
        </div>
        <div class="content">
            <div class="instrument-picture">
                <img ng-class="{'left-handed': Scales.instrument.handedness == 'Left'}" 
                    src="{{Scales.instrument.arr[Scales.instrument.index].instPanel.path}}" 
                    viewBox="{{Scales.instrument.arr[Scales.instrument.index].instPanel.viewBox}}"
                />
            </div>
                    
            <div class="row">
                {{Scales.instrument.arr[Scales.instrument.index].strings}} String
                <span class="pull-right">
                    {{Scales.JSONData.tunings[Scales.instrument.getCurrentTuning()].name.replace('Tuning', '')}} Tuning ({{Scales.getCurrentTuningNotes()}})
                </span>
            </div>
        </div>
    </div>

    <div class="settings-panel div-inline">
        <div class="header">
            <span><img src="/assets/img/musicfile-128.png" alt="Scale"/></span>
            Scale
        </div>
        <div class="content">
            <div class="row">
                <select name="tonic" class="select-sm" ng-model="Scales.selection.tonic" ng-change="Scales.drawing.drawScale()">
                    <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.tonics">{{val}}</option>  
                </select>
                <select name="scale" class="select-lg" ng-model="Scales.selection.scale" ng-change="Scales.drawing.drawScale()">     
                    <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.scales">{{val.name}}</option>                           
                </select>
            </div>
    
            <div class="row">
                <div ng-mouseover="Scales.tooltip = 'scale'" ng-mouseout="Scales.tooltip = null">
                    <h1 class="subtitle">{{Scales.JSONData.scales[Scales.selection.scale].name}} Scale</h1>
                    <span class="subtitle" ng-repeat="pitch in Scales.JSONData.scales[Scales.selection.scale].steps">{{pitch + ' '}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div instrument-modal></div>
</div>