<div class="title-header">
    <div class="main-text">
        <span class="scale">{{Scales.JSONData.tonics[Scales.selection.tonic] + ' ' + Scales.JSONData.scales[Scales.selection.scale].name}}</span><br/>
        <span class="notes">{{Scales.scaleNotes}}</span>
    </div>

    <div class="surface-container">
        <div><svg zoom-pan class="scales select-disable" style="border: 1px solid blue" id="svg-surface" preserveAspectRatio="xMidYMin meet"></svg></div>
    </div>

    <div class="zoom-pan-control">
        <i class="fa fa-arrows-alt" ng-click="Scales.svgSurface.resetZoomPan()"></i>
        <i class="fa fa-search" ng-click="Scales.svgSurface.setActiveControl('zoom')" ng-class="{'active': svgSurface.activeControl == 'zoom'}"></i>
        <i class="fa fa-hand-paper-o" ng-click="Scales.svgSurface.setActiveControl('pan')" ng-class="{'active': svgSurface.activeControl == 'pan'}"></i>
    </div>
</div>

<div class="container-options">    
    <div ng-mouseover="Scales.tooltip = 'scale'" ng-mouseout="Scales.tooltip = null">
        <h1>{{Scales.JSONData.scales[Scales.selection.scale].name}} Scale</h1>
        <span class="subtitle" ng-repeat="pitch in Scales.JSONData.scales[Scales.selection.scale].steps">{{pitch + ' '}}</span>
    </div>        

    <div class="settings-panel div-inline">
        <div class="header">
            <span>
                <img src="/assets/img/guitar-128-2.png" alt="Scale"/>
            </span>
            Instrument
        </div>
        <div class="content">
            <table>
            <tr>
                <td>                                
                    <label>Instrument</label>
                </td>
                <td>
                    <i class="fa fa-gear button pull-right" ng-click="Scales.modal = 'instrument'"></i>


                    <!--<select name="input-num-strings" class="select-sm" ng-model="selectedStrings" ng-change="drawing.reload()">
                        <option class="option-thin" value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.tunings[instrument]">{{key}}</option>
                    </select>-->
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tuning">Tuning</label>
                </td>
                <td>
                    <select 
                        name="tuning" 
                        class="select-lg" 
                        ng-model="Scales.instrument.selectedTuning[Scales.instrument.instrumentType][Scales.instrument.selectedStrings[Scales.instrument.instrumentType]]" 
                        ng-change="Scales.drawing.drawScale()">
                            <option 
                                value="{{key}}" 
                                ng-show="val.type == Scales.instrument.instrumentType && val.strings == Scales.instrument.selectedStrings[Scales.instrument.instrumentType]"
                                ng-repeat="(key, val) in Scales.JSONData.tunings">
                                {{val.name}}
                            </option>
                    </select>
                        
                    <i class="fa fa-gear button pull-right" ng-click="Scales.modal = 'instrument'"></i>
                    
                </td>
            </tr>
             <tr>
                <td>
                    <label for="tuning">Handedness</label>
                </td>
                <td>
                    <select name="handedness" class="select-lg" ng-model="Scales.instrument.handedness" ng-change="Scales.drawing.reload()">
                        <option value="Right">Right-Handed</option>
                        <option value="Left">Left-Handed</option>
                    </select>
                </td>
            </tr>
        </table>                    
        </div>
    </div>

<div class="settings-panel div-inline">
    <div class="header">
        <span><img src="/assets/img/musicfile-128.png" alt="Scale"/></span>
        Scale
    </div>
    <div class="content">
        <table>
            <tr>
                <td>
                    <label for="tonic">Tonic</label>
                </td>
                <td>
                    <select name="tonic" class="select-sm" ng-model="Scales.selection.tonic" ng-change="Scales.drawing.drawScale()">
                        <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.tonics">{{val}}</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="scale">Scale</label>
                </td>
                <td>
                    <select name="scale" class="select-lg" ng-model="Scales.selection.scale" ng-change="Scales.drawing.drawScale()">     
                        <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.scales">{{val.name}}</option>                           
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <a class="button" ng-click="Scales.action()">Dont Push</a>
</div>



<div class="modal-dialog instrument-modal" ng-class="{'modal-show': Scales.modal == 'instrument'}">
    <div class="modal-lg">
        <a href="" title="Close" class="modal-close" ng-click="Scales.modal = null">X</a>
        <h2>Instrument</h2>
        
        <ul class="tab-menu">
            <li class="instrument-icon" ng-click="Scales.instrument.instrumentType = 'Guitar'" ng-class="{'active': Scales.instrument.instrumentType == 'Guitar'}">
                <img src="/assets/svg/menu/main_guitar_o.svg" viewBox="0 0 100 100" alt="Guitar Scales"/> 
            </li>
            <li class="instrument-icon" ng-click="Scales.instrument.instrumentType = 'Bass Guitar'" ng-class="{'active': Scales.instrument.instrumentType == 'Bass Guitar'}">
                <img src="/assets/svg/menu/main_bass_o.svg" viewBox="0 0 100 100" alt="Bass Guitar Scales"/>
            </li>
            <li class="instrument-icon" ng-click="Scales.instrument.instrumentType = 'Piano'" ng-class="{'active': Scales.instrument.instrumentType == 'Piano'}">
                <img src="/assets/svg/menu/main_piano_o.svg" viewBox="0 0 100 100" alt="Piano Scales"/>
            </li>
        </ul>
        <div class="content">
            <!--<ul>
                <li ng-hide="instrument.instrumentType == 'Piano'" ng-repeat="str in instrument.getInstrumentStrings()">{{str}}</li>
            </ul>-->
            <label for="strings" ng-hide="Scales.instrument.instrumentType == 'Piano'">Strings</label>
            <select name="strings" class="select-sm" ng-model="Scales.instrument.selectedStrings[Scales.instrument.instrumentType]" ng-hide="Scales.instrument.instrumentType == 'Piano'">     
                <option 
                    value="{{key}}" 
                    ng-repeat="(key, val) in Scales.instrument.selectedTuning[Scales.instrument.instrumentType]">
                    
                    {{key}}
                </option>                           
            </select>

            <div class="instrument"
                 ng-repeat="i in Scales.instrument.arr track by $index" 
                 ng-show  ="i.type == Scales.instrument.instrumentType && (i.strings == Scales.instrument.selectedStrings[Scales.instrument.instrumentType] || i.strings == 0)" 
                 ng-click ="Scales.setInstrument($index)">
                
                {{$index}} - {{i.name}}<br/>
                <img src="{{i.thumb.path}}" viewBox="i.thumb.viewbox" ng-class="{'selected': $index == Scales.instrument.index }"/>
            </div>
        </div>

        <div class="buttons">
            <button>Save</button>
            <button>Cancel</button>
        </div>
    </div>
</div>