<!DOCTYPE html>
<html ng-app="musicianist">
    <head>
        <title>Chords - Musicianist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="">
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body ng-controller="chordsCtrl" style="color: #fff">   
        <div class="header">
            <div class="brand"><a href="../">Musicianist</a> </div>
            <div class="header-menu">
                <a href="../scales/">Scales</a>
                <a href="" class="active">Chords</a>
                <a href="../circle-of-fifths/">Circle of Fifths</a>
            </div>
        </div>

        <div style="float:left">
            <svg class="chords" id="svg-surface"></svg>
        </div>

        <div>            
            <br/>
            Pan <input type="number" ng-model="first" ng-change="change()"/><br/>     
            Scale <input type="number" ng-model="third" ng-change="change()"/><br/>
            
            Chord Structure 
            <select ng-model="state.chordStructure" ng-change="draw.drawChord()">
                <option value="{{key}}" ng-repeat="(key, val) in JSONData.chords.guitar">{{key}}</option>  
            </select><br/>

            Chord Tonic
            <select ng-model="state.chordTonic" ng-change="draw.drawChord()">
                <option value="{{key}}" ng-repeat="(key, val) in JSONData.chords.guitar[state.chordStructure][state.chordType]">{{key}}</option>  
            </select>

            Chord Type
            <select ng-model="state.chordType" ng-change="draw.drawChord()">
                <option value="{{key}}" ng-repeat="(key, val) in JSONData.chords.guitar[state.chordStructure]">{{key}}</option>  
            </select>
            
            <button ng-click="action()">dont push</button>
        </div>

        <script src="../lib/snap/snap.svg.js"></script>

        <script src="../js/core.js"></script>
        <script src="../js/Chords.js"></script>

        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/angular/angular-sanitize.js"></script>
        <script src="../js/controllers.js"></script>
    </body>
</html>
