<!DOCTYPE html>
<?php 
    include_once '../core/db.php';
    $db = new UserDB(); 
?>
<html ng-app="musicianist">
    <head>
        <title>Scales - Musicianist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="">
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../css/style.css">

    </head>
    <body ng-controller="Main">   

        <div class="header row">
            <div class="brand">Musicianist</div>
            <div class="header-menu">
                    <a href="../scales/" class="active">Scales</a>
                    <a href="../chords/">Chords</a>
                    <a href="../circle-of-fifths/">Circle of Fifths</a>
            </div>
        </div>

        <div class="body left col" id="menu-left">
            <ul class="instrument-menu">
                <li id="instrument-guitar" class="instrument-icon active" ng-click="setInstrument('Guitar')">
                    <img src="../svg/menu/main_guitar.svg"/>
                </li>
                <li id="instrument-bass" class="instrument-icon" ng-click="setInstrument('Bass Guitar')">
                    <img src="../svg/menu/main_bass.svg"/>
                </li>
                <li id="instrument-piano" class="instrument-icon" ng-click="setInstrument('Piano')">
                    <img src="../svg/menu/main_piano.svg"/>
                </li>
            </ul>
        </div>

        <div class="row title-header" id="title-header">
            <span class="scale">{{JSONData.tonics[selectedTonic] + ' ' + JSONData.scales[selectedScale].name}}</span><br/>
            <span class="notes">{{scaleNotes}}</span>
        </div>

        <div class="body row" id="content">
            <svg id="svg-surface"></svg>
        </div>

        <div class="footer row" id="footer">            
            <div class="div-inline">
                <span id="scale-name">{{JSONData.scales[selectedScale].name}}</span><br/>
                <span id="scale-pitches" ng-repeat="pitch in JSONData.scales[selectedScale].steps">{{pitch + ' '}}</span>
                <table>
                    <tr>
                        <td>
                            <label for="tonic">Tonic</label>
                        </td>
                        <td>
                            <select name="tonic" id="tonic" ng-model="selectedTonic" ng-change="drawing.drawScale()">
                                <option value="{{key}}" ng-repeat="(key, val) in JSONData.tonics">{{val}}</option>  
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="scale">Scale</label>
                        </td>
                        <td>
                            <select name="scale" id="scale" ng-model="selectedScale" ng-change="drawing.drawScale()">     
                                <option value="{{key}}" ng-repeat="(key, val) in JSONData.scales">{{val.name}}</option>                           
                            </select>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="div-inline" style="padding:15px" ng-hide="instrument === 'Piano'">
                <span id="instrument-name">{{instrument}}</span><br/>
                <span id="tuning-notes" ng-repeat="n in JSONData.tunings[instrument][selectedStrings][selectedTuning].notes track by $index">
                    {{util.halfStepToNote(n)}}</span>
                <table>
                    <tr>
                        <td>
                            <label for="input-num-strings">Strings</label>
                        </td>
                        <td>
                            <select name="input-num-strings" id="input-num-strings" ng-model="selectedStrings" ng-change="drawing.drawScale()">
                                <option value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument]">
                                {{key}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="tuning">Tuning</label>
                        </td>
                        <td>
                            <select name="tuning" id="input-tuning" ng-model="selectedTuning" ng-change="drawing.drawScale()">
                                <option value="{{key}}" ng-repeat="(key, val) in JSONData.tunings[instrument][selectedStrings]">{{val.name}}</option>                              
                            </select>
                            <button id="button-edit-tuning">Edit Tuning</a>
                        </td>
                    </tr>
                </table>
                <button ng-click="action()">Dont Push</a>
            </div>

            
            <div id="tuning-modal" class="modal-dialog">
                <div>
                    <a href="#" id="tuning-modal-close" title="Close" class="modal-close">X</a>
                    <h2>Edit Tuning</h2>                    

                    <button id="tuning-modal-save">Save</button>
                    <button id="tuning-modal-cancel">Cancel</button>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!--<script src="../js/Canvas.js"></script>-->
        <script src="../js/snap.svg.js"></script>
        <script src="../js/Scales2.js"></script>

        <script src="../lib/angular/angular.js"></script>
        <script src="../js/controllers.js"></script>

        <script>
            /**
             * Instrument Icon listeners
             */
            $('#instrument-guitar').click(function(event) {
                $('.instrument-menu li').removeClass('active');
                $(this).addClass('active');
            });

            $('#instrument-bass').click(function(event) {
                $('.instrument-menu li').removeClass('active');
                $(this).addClass('active');
            });

            $('#instrument-piano').click(function(event) {
                $('.instrument-menu li').removeClass('active');
                $(this).addClass('active');
            });

            /** 
             *  Dropdown Change listeners
             */
           /* $('#tonic').on('change', function() {
                Scales.key.root = parseInt($('#tonic').val());
                Scales.drawScale();
                Page.displayScaleInfo();
            });

            $('#scale').on('change', function() {
                Scales.key.selectedScale = parseInt($('#scale').val());
                Scales.drawScale();
                Page.displayScaleInfo();
            });

            $('#input-instrument').change(function() {
                Page.ajax.getNumberOfStrings();
            });

            $('#input-strings').change(function() {
                Page.ajax.getTunings();
            });

            $('#input-tuning').change(function() {
                $.when(Page.ajax.setTuning()).done(function() {
                    Scales.drawScale();
                });
            });*/

            /**
             *  Tunings modal listeners
             */
            $('#button-edit-tuning').click(function() {
                $('#tuning-modal').show();
            });

            $('#tuning-modal-close, #tuning-modal-cancel').click(function() {
                $('#tuning-modal').hide();
            });

            $('#tuning-modal-save').click(function() {
                //Do stuff
                $('#tuning-modal').hide();
            });

            var Page = {
                ajax: {
                   /* getTunings: function() {
                        return $.ajax({
                            url: 'get.php',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                action: 'getTunings',
                                instrument: 1, //guitar = 1                   
                                strings: $('#input-num-strings').val()
                            },
                            success: function(results) {
                                var options = '';

                                for(var i = 0, end = results.length; i < end; i++) {
                                    options += '<option value="' + results[i][1] + '">' + results[i][2] + "</option>";
                                }

                                $('#input-tuning').html(options);
                            }
                        });
                    },

                    setTuning: function() {
                        return $.ajax({
                            url: 'get.php',
                            type: 'post',
                            dataType: 'json',  
                            data: {
                                action: 'getTuningNotes',
                                tuning: $('#input-tuning').val()
                            },
                            success: function(results) {
                                var tuning = [];
                                var text = '';

                                for(var i = 0, end = results.length; i < end; i++) {
                                    tuning[tuning.length] = parseInt(results[i]);
                                    text += Scales.key.getNote(parseInt(results[i])) + ' ';
                                }

                                Scales.guitar.tuning = tuning;            
                                $('#tuning-notes').html(text);
                            }
                        });
                    },

                    getNumberOfStrings: function() {
                        return $.ajax({
                            url: 'get.php',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                action: 'getNumberOfStrings',
                                instrument: 1 //guitar = 1
                            },
                            success: function(results) {
                                var options = '';

                                for(var i = 0, end = results.length; i < end; i++) {
                                    options += '<option value="' + results[i] + '">' + results[i] + "</option>";
                                }

                                $('#input-num-strings').html(options);
                                Page.ajax.getTunings();
                            }
                        });
                    },
                */}, //Page.ajax

                

                resizeLeftMenu: function(width) {
                    $('#menu-left').css('width', width + 'px');
                    $('#content').css('left', width + 'px');
                    $('#footer').css('left', width + 'px');
                    $('#title-header').css('left', width + 'px');
                }

                /*populateScaleOptions: function() {
                    var scalesHTML = '';
                    for(var i = 0, end = Scales.scales.length; i < end; i++) {
                        var s = Scales.scales[i];
                        scalesHTML += '<option value="' + i + '">' + s.name;

                        if(s.mode) {
                            scalesHTML += ' (' + s.mode + ')';
                        }

                        scalesHTML += '</option>';
                    }

                    $('#scale').html(scalesHTML);
                }*/
            };

            $(function() {
                //Scales.loadScales();
                //Page.populateScaleOptions();                

                Page.resizeLeftMenu(112);

                //set up dropdowns and start script
               /* $.when(Page.ajax.getNumberOfStrings()).done(function() {
                    $.when(Page.ajax.getTunings()).done(function() {
                        $.when(Page.ajax.setTuning()).done(function() {
                            Scales.start();
                            Page.displayScaleInfo(); 
                        });
                    });
                });*/
            });
        </script>
    </body>
</html>
