
<div class="content">

	<div class="container grey-light">	
		<div class="section">
			<h1>Music makes you feel</h1>		
			<p>
				Music makes you feel. Learn to play. Master your scales using our interactive scale app. 
				<br/>
				Choose between Guitar, Bass Guitar or Piano, with the most popular scale patterns.
			</p>

			<a href="/scales/">
				<img src="assets/img/guitar-scales-lg.jpg"/>
			</a>
		</div>
	</div>

	<div class="container blue">	
		<div class="section">
			<h1>Choose your instrument</h1>		
			<p>
				Lots of strings. Different tunings.
				<br/>
				Pick your favourite. Right or left handed.
			</p>
			<a href="/scales/">
				<img src="assets/img/instruments-lg.jpg"/>
			</a>
		</div>
	</div>

	<div class="container dark-grey">
		<div class="section">
			<h1>Learn musical keys and chord progressions</h1>
			<p>
				No matter what type of instrument you play, the Circle of Fifths is an important tool for figuring out chord progressions and musical keys. Figure out which chords go well with different keys, and switch between each of the 7 modern modes.
			</p>
			<a href="/circle-of-fifths/">
				<img src="assets/img/cof-lg.jpg"/>
			</a>
		</div>
	</div>

	<div class="container blue">	
		<div class="section">
			<h1></h1>
			<p>
				
			</p>
		</div>
	</div>
</div>
