
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="panel">            
                <h1 class="page-title">{{Scales.instrument.getCurrentInstrument().type}} Scales</h1>

                <div class="scale-info">
                    <span class="scale">{{Scales.JSONData.tonics[Scales.state.tonic]}} {{Scales.scale.getTitle()}}</span> {{Scales.scale.getSubtitle()}}<br/>
                    <span class="notes">{{Scales.scaleNotes}}</span>
                </div>

                <svg zoom-pan
                    class="scales select-disable" 
                    id="svg-surface" 
                    preserveAspectRatio="xMidYMid meet">
                </svg>

                <div class="zoom-pan-control">
                    <i class="fa fa-arrows-alt hover-pointer" ng-click="Scales.svgSurface.resetZoomPan()"></i>
                    <i class="fa fa-search hover-pointer" ng-click="Scales.svgSurface.setActiveControl('zoom')" ng-class="{'active': Scales.svgSurface.activeControl == 'zoom'}"></i>
                    <i class="fa fa-hand-paper-o hover-pointer" ng-click="Scales.svgSurface.setActiveControl('pan')" ng-class="{'active': Scales.svgSurface.activeControl == 'pan'}"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fixed">
    <div class="row">
    <!--
        <div class="col col-6">
            <div class="panel">

                <button style="float: right" ng-click="Scales.drawing.drawScale()">Draw</button>
                E <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[0]"/> 
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[0]"/> <br/>  

                A <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[1]"/> 
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[1]"/> <br/>

                D <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[2]"/> 
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[2]"/> <br/>

                G <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[3]"/> 
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[3]"/> <br/>

                B <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[4]"/>
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[4]"/>  <br/>

                E <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[5]"/> 
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[5]"/> <br/>

                 <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[6]"/>
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[6]"/>  <br/>

                 <input type='number' step='0.0001' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().stringSlope[7]"/>
                    <input type='number' step='1' value='0.00' placeholder='0.00' ng-model="Scales.instrument.getCurrentInstrument().markerY[7]"/>  <br/>
                <br/>
                

                slopes = [<span ng-repeat="i in Scales.instrument.getCurrentInstrument().stringSlope as slope">
                            {{i}}, 
                </span>],<br/>

                yCoords =  [<span ng-repeat="y in Scales.instrument.getCurrentInstrument().markerY as tt">
                            {{y}}, 
                </span>],
            </div>
        </div>
        -->

        <div class="col col-6">
            <div class="panel">
                <div class="header">Instrument <i class="edit fa fa-gear" ng-click="Scales.modal = 'instrument'"></i></div>

                <div ng-show="!Scales.instrument.isStringedInstrument()">
                    {{Scales.instrument.getCurrentInstrument().type}}
                </div>                

                <div ng-show="Scales.instrument.isStringedInstrument()">
                    {{Scales.instrument.arr[Scales.state.index].strings}} String
                    <span class="pull-right">
                        {{Scales.JSONData.tunings[Scales.instrument.getCurrentTuning()].name.replace('Tuning', '')}} Tuning ({{Scales.getCurrentTuningNotes()}})
                    </span>
                </div>

                <div class="instrument-picture hover-pointer" ng-click="Scales.modal = 'instrument'">
                    <img ng-class="{'left-handed': Scales.state.handedness == 'Left'}" 
                        src="{{Scales.instrument.getCurrentInstrument().instPanel.path}}" 
                        viewBox="{{Scales.instrument.getCurrentInstrument().instPanel.viewBox}}"
                    />
                </div>      


            </div>
        </div>
        <div class="col col-6">
            <div class="panel">
                <div class="header">{{Scales.scale.getTitle()}} Scale {{Scales.scale.getSubtitle()}}</div>

                <select name="tonic" class="select-sm" ng-model="Scales.state.tonic" ng-change="Scales.drawing.drawScale()">
                    <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.tonics">{{val}}</option>  
                </select>
                <select name="scale" class="select-lg" ng-model="Scales.state.scale" ng-change="Scales.drawing.drawScale()">     
                    <option value="{{key}}" ng-repeat="(key, val) in Scales.JSONData.scales">{{val.name}}</option>                           
                </select>

                <div class="information">
                    <h3>Scale Details</h3>

                    <table>
                        <tr>
                            <td>Intervals: &nbsp;&nbsp;</td>
                            <td>
                                <span 
                                    style="padding-left: 4px"   
                                    class="subtitle" ng-repeat="pitch in Scales.JSONData.scales[Scales.state.scale].steps">{{pitch + ' '}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




<div instrument-modal></div>