/** Borders **/
/** Background Colors **/
.bg-blue {
  background: #33c9ff;
}
.bg-light-blue {
  background: #66d6ff;
}
.bg-lime {
  background: #bf5;
}
.bg-gold {
  background: #FFCE38;
}
/************/
