/** Borders **/
.modal-dialog {
  /*display: none;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modal-show {
  /*display: block;*/
  opacity: 1;
  pointer-events: auto;
}
.modal-dialog > .modal-sm {
  position: relative;
  width: 400px;
  max-width: 90%;
  margin: 10% auto;
  background: #fff;
  padding: 20px;
}
.modal-dialog .modal-lg {
  position: relative;
  margin: 2% auto;
  width: 1000px;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  background: #333;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.modal-lg h2 {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 24px;
  line-height: 0;
  font-weight: normal;
}
.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  text-align: center;
  line-height: 24px;
  height: 28px;
  width: 28px;
  font-size: 24px;
  text-decoration: none;
  background: #fff;
  color: #333;
  font-weight: bold;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.modal-close:hover {
  background-color: #bf5;
  color: #333;
}
.modal-sm > .modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
}
.shadow {
  -webkit-filter: drop-shadow(2px 2px 3px #333);
  filter: drop-shadow(2px 2px 3px #333);
}
@media print {
  .shadow {
    -webkit-filter: none;
    filter: none;
  }
}
/** Instrument Modal **/
div.instrument-modal {
  color: #fff;
}
div.instrument-modal .instrument {
  display: inline-block;
  width: 175px;
  /* IE needs width to be set */
  margin: 0 12px;
}
div.instrument-modal .instrument.piano {
  width: 464px;
  /* IE needs width to be set */
}
div.instrument-modal .instrument img {
  display: block;
  margin: 0 auto;
  padding: 12px;
  height: 400px;
}
div.instrument-modal .instrument.piano img {
  width: 440px;
  height: 300px;
}
div.instrument-modal .instrument.selected {
  background: #ccc;
}
div.instrument-modal .string-selection {
  margin-right: 24px;
}
div.instrument-modal .guitar-settings {
  margin-top: 12px;
  margin-left: 100px;
}
.tab-menu {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.tab-menu:after {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #333;
  z-index: 100;
  content: "";
}
.tab-menu li {
  position: relative;
  border: 1px solid #333;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  background: #555;
  margin: 10px 0;
  width: 90px;
  height: 90px;
  z-index: 0;
}
.tab-menu li.active {
  background: #fff;
  z-index: 200;
}
.tab-menu ~ div.content {
  display: table-cell;
  background: #fff;
  color: #333;
  width: 100%;
  padding: 12px;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-border-radius: 14px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 14px;
  -moz-border-radius-topleft: 0;
  border-radius: 14px;
  border-top-left-radius: 0;
}
div.string-selection {
  float: left;
}
.string-selection {
  float: left;
  display: inline-block;
}
.string-selection ul {
  padding: 0;
  margin: 0 4px;
  list-style: none;
  color: #333;
}
.string-selection ul li {
  background: #ccc;
  margin: 4px 0;
  padding: 12px 16px;
}
.string-selection ul li:hover {
  cursor: pointer;
}
.string-selection ul li.active {
  background: #333;
  color: #fff;
}
.instrument-icon img {
  width: 90px;
  height: 90px;
}
/** !Instrument Modal **/
