body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

div {
    /*border: 1px solid black;*/
}

div .div-inline {
    display: table-cell;
    vertical-align: top;
    padding: 16px;
}

select, input {
    font-size: 1em;
    padding: 4px;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #888;
    -moz-box-shadow: 3px 3px 2px #888;
    -webkit-box-shadow: 3px 3px 2px #888;
    border: 1px solid #777;
    outline: none;
}

button {
    min-width: 80px;
	font-size: 1em;
    padding: 6px 12px;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: #ddd;
}

button:hover {
    background-color: #999;
}

.row, .col{
    overflow: hidden;
    position: absolute;
}

.row{
    left: 0;
    right: 0;
}

.col{
    top: 0;
    bottom: 0;
}

.scroll-x{
    overflow-x: auto;
}   

.scroll-y{
    overflow-y: auto;
}

.header.row{
    height: 50px;
    top: 0;
}

.title-header{
    height: 100px;
    top: 50px;
    background-color: #E0DEDC;
}

.title-header > .scale {
    display: inline-block;
    padding-top: 10px;
    padding-left: 24px;
    font-size: 34px;
}

.title-header > .notes {
    display: inline-block;
    padding-left: 24px;
    font-size: 24px;
}

.header {
    color: #bbb;
    background-color: #333;
}

.body.left{
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
}

.body.row{
    top: 150px;
    left: 200px;
    bottom: 220px;
}

.footer.row{
    height: 220px;
    left: 200px;
    bottom: 0;
}

.footer {
    background-color: #bbb;
}

#svg-surface {
    width: 100%;
    height: 100%;
}

#menu-left {
    background-color: #555;
}

.instrument-menu {
    padding: 0;
    list-style-type: none;
}

li.instrument-icon img {
    width: 80px;
    display: block;
    margin: 0 auto;
}

li.instrument-icon.active {
    background-color: #777;   
}

.brand {
    display: inline-block;
    margin: 8px;
    font-size: 1.6em;
}

#scale-name, #instrument-name {
    font-weight: bold;
    font-size: 1.2em;
}

#scale-pitches, #tuning-notes {
    font-size: 1.2em;
}

.header-menu {    
    float: right;
    margin-right: 60px;
    display: inline-block;
}

.header-menu a {
    color: #aaa;
    padding: 13px;
    height: 100px;
    display: inline-block;
    text-decoration: none;
}

.header-menu a.active {
    background-color: #555; 
    color: #ccc;  
}

.header-menu a:hover {
    background-color: #555;   
    color: #ccc;   
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    background: #eee;
    padding: 20px;        
}

.modal-close {
    background: #333;
    color: #FFFFFF;
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
}

.modal-close:hover { 
    background-color: #bf5; 
    color: #333;
}