@import "vars.less";

html { 
	
	background: url(/assets/img/drumkit-lg.jpg) #222 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100%; 
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	font-weight: @weight-light;
	font-size: 2.5em;
	margin-top: 12px;
	margin-left: 6px;
	line-height: 1em;
}

h3 {
	font-weight: 500;
	line-height: 0em;
}

h1.line {
	border-bottom: 1px solid #333;	
}

h3.line {
	text-decoration: underline;	
}

p {
	line-height: 1.7em;
	font-size: 1.2em;
}

select, input, button, a.button, img.button {
    font-size: 1em;
    padding: 4px;
    margin: 5px 2px;
    -webkit-border-radius: @corner-radius;
    -moz-border-radius: @corner-radius;
    border-radius: @corner-radius;
    
    border: 1px solid @grey-dark;
    color: @grey-dark;
    background-color: @grey-light;
}

a.button {
    padding-left:  12px;
    padding-right: 12px;
    text-decoration: none;
}

button:hover, input[type=submit]:hover, a.button:hover {
    background-color: @lime;
    border: 1px solid @grey-dark;
    color: @button-bg;
    
}

img.button:hover {
    cursor: pointer;
}

img.border {
	border: 1px solid @grey-dark;
}

fieldset {	
	padding: 6px;
	border-radius: @corner-radius-lg; 
	border: 1px solid @grey-dark;
}

fieldset > legend {
	margin: 6px;
	padding: 6px;
}

div.nav {    	
	border-bottom: 1px solid #ccc;
	color: @grey-light; 
	background: #000000ed;
}

div.nav a.brand {
	float: left;
	font-size: 24px;
	font-weight: 300;
	padding: 10px 25px;
	color: @grey-light;
	text-decoration: none;
}

ul.navbar { 
	text-align: justify;
	float: left;
}

ul.navbar:after {
	content: '';
}

ul.navbar li, ul.navbar div.inline {
	display: inline;	
	margin: 0;
	list-style: none;	
} 

ul.navbar li a {
	color: @grey-light;
	padding: 16px;
	text-decoration: none;
}

ul.navbar li a:hover, ul.navbar li a.active {
	background: rgb(39, 39, 39);
}

ul.navbar-right {
	float: right !important;
	margin-right: 55px;
} 

.hover-pointer {
    cursor: pointer;   
}

div.footer {
	background: #333;
	opacity: 0.3;
	border-top: 6px solid @grey-light;
	min-height: 200px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/** Content **/
div.content {
	background:  @color-content-bg; 
	min-height: 65%;
	overflow-x: auto;	
}

div.container {
	box-sizing: border-box;
	padding: 8px 12px;
	margin: 0 auto;
}

div.container-fixed {
	width: auto;
}

div.panel.error {
	min-height: 400px;
}

div.error i {
	float: left;
	color: #B50004;
	margin-right: 18px;
	font-size: 3em;
}

div.error p {
	padding: 12px;
	background: #FCDCDC;
	border: 1px solid  #B50004;
	border-radius: @corner-radius;
	-webkit-border-radius: @corner-radius;
    -moz-border-radius: @corner-radius;
}

div.panel {
	border-radius: @corner-radius-lg;
	padding: 12px;
	margin-bottom: 12px;
	border: 1px solid #ccc;
	background: #000000ed;
}

div.panel div.header {
	font-size: 1.2em;
	border-bottom: 1px solid #444;
	margin-bottom: 12px;
}

div.panel .information {
	margin-left: 12px;
}

h1.page-title {
	font-size: 1.8em;
	font-weight: @weight-light;
	border: 0;
	margin: 0;
	margin-top: 6px;
	margin-right: 12px;
	float: right;
}

div.info-box {
	padding: 12px;
	display: inline-block;
	background: darken(@grey-light, 8%);
	border: 1px solid @grey-md;
	font-size: 1.4em;
}

div.info-box span.title {
	margin-right: 8px;
}

div.info-box div.info {
	display: inline-block; 
	border: 1px solid @grey-md;
	font-weight: @weight-light;
}

div.info-box div.info span {
	padding: 12px;
	line-height: 2em;
}

div.info-box.info-box-sm {	
	font-size: 1.1em;
	background: darken(@grey-light, 5%);
}

div.info-box.info-box-sm div.info {
	padding: 0 4px;
}

div.info-box.info-box-sm div.info span {	
	padding: 0 8px;
}

.panel:before, .panel:after { content: ""; display: table; clear: both; } 

.pull-right {
    float: right;   
}

/** Scaffolding **/
.row, .col { box-sizing: border-box; }

.row { margin: 0 -12px; }
.row:before, .row:after { content: ""; display: table; clear: both; }
.col { float: left; padding: 0 12px; }

.col-1  { width:  8.333333333%; } 
.col-2  { width: 16.666666667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.333333333%; }
.col-5  { width: 41.666666667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.333333333%; }
.col-8  { width: 66.666666667%; }
.col-9  { width: 75%; }
.col-10 { width: 83.333333333%; }
.col-11 { width: 91.666666667%; }
.col-12 { width: 100%; }

.row .col img { width: 100%; }
/***************/


/** Full Page Content **/
.container.grey-light {
	background: @grey-light;
}

.container.blue {
	color: @grey-light;
}

.container.dark-grey {
	background: @grey-dark;
	color: @grey-light;
}

.section { 
	width: 100%; 
	margin: 64px auto; 
	text-align: center; 
}

.section img {
	width: 100%;
}

/***********************/


/** Tablets **/
@media(min-width: 768px) {
	div.section {
		width: 738px;
	}

	/*div.container-fixed {
		width: 750px;
	}*/
}

/** Small Desktop screens **/
@media(min-width: 992px) {
	div.section {
		width: 962px;
	}

	div.container-fixed {
		width: 970px;
	}
}

/** Large Desktop screens **/
@media(min-width: 1200px) {
	div.section {
		width: 1170px;
	}

	div.container-fixed {
		width: 1170px;
	}
}


/** Cookies Confirmation **/
div.cookies {
    position: relative;
    z-index: 8888;
}

div.cookies div {
    background: @grey-md-light;
    position: fixed;
    bottom: 0; 
    right: 0;
    margin: 0 auto;
    padding: 3px 20px;
    padding-bottom: 7px;
    font-size: 0.8em;
}

div.cookies a {
    margin-left: 18px;  
}

div.cookies a.hide {
    font-size: 1.5em;
    font-weight: bold;
    color: @grey-dark;
    text-decoration: none;
}
/** !Cookies Confirmation **/